body {
  font-family: "Colibri", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ff8800, #000000);
  transition: background 0.5s ease;
  min-height: 100vh;
  color: #f8f7f7;
  background-attachment: fixed;
}

body.dark-mode {
  background: black;
  min-height: 100vh;
}
